header {
    width: 79.0009rem;
    padding: 0;
    margin: 0;
    height: 2rem;
    text-align: right;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
main{
    background-image: url(./images/hey.jpg);
    background-repeat:initial;
    height: 10rem;
    font-style: italic;
    font: bolder;
    font-size:xx-large ;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5px;
    padding:75px;
    text-decoration: wavy;
}
.contain{
    display: flex;
    gap: 29px;
}
.div1{
    height: 15rem;
    width: 17rem;
    border-radius: 2rem;
    transition: width 2s, height 4s;
}
.div1 :hover{
  background-color: aquamarine;
}
#see1{
    width: 5rem;
    height: 2rem;
    align-items:center;
    justify-content: space-between;
    border: solid black;
    margin-bottom: 0;
    margin: 5px;
    padding: 9px;
}
.div2{
    height: 15rem;
    width: 17rem;
    border-radius: 2rem;
}
.div2 :hover{
    background-color: aquamarine;
  }
#see2{
    width: 5rem;
    height: 2rem;
    align-items:center;
    justify-content: space-between;
    border: solid black;
    margin-bottom: 0;
    margin: 5px;
    padding: 9px;
}
.div3{
    height: 15rem;
    width: 17rem;
    border-radius: 2rem;
}
.div3 :hover{
    background-color: aquamarine;
  }
#see3{
    width: 5rem;
    height: 2rem;
    align-items:center;
    justify-content: space-between;
    border: solid black;
    margin-bottom: 0;
    margin: 5px;
    padding: 9px;
}
.div4{
    height: 15rem;
    width: 17rem;
    border-radius: 2rem;
}
.div4 :hover{
    background-color: aquamarine;
  }
#see4{
    width: 5rem;
    height: 2rem;
    align-items:center;
    justify-content: space-between;
    border: solid black;
    margin-bottom: 0;
    margin: 5px;
    padding: 9px;
}
.form{
    height: 20rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    align-items: center;
    height:1rem ;
    font-size: large;
    font-family:'Times New Roman';
}
button{
    background-color:rgb(228, 193, 211);
    border-radius: 5px;
}
img{
    height: 7rem;
    width: 7rem;
    border-radius: 55px;
    display: block;
    align-items: center;
}