body{
    background-color: rgb(255, 218, 238); ;
}
header {
    width: 79.0009rem;
    padding: 0;
    margin: 0;
    height: 2rem;
    text-align:justify;
    justify-content: space-between;
    position: sticky;
    top: 0;
}
main{
    background-color: rgb(255, 218, 238);
    font-style: italic;
    font: bolder;
    font-size:xx-large ;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0.5px;
    padding:75px;
    text-decoration: wavy;
}
.form{
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    align-items: center;
    height:1rem ;
    font-size: large;
    font-family:'Times New Roman';
}
button{
    background-color:rgb(228, 193, 211);
    border-radius: 5px;
}
.mid{
    height: 22rem;
}
img{
    height: 17rem;
    width: 12rem;
    border-radius: 22px;
    align-items: center;
    padding: 3rem;
    margin:0rem ;
}